JFXTextField, JFXPasswordField {
    -fx-text-fill: #000000;
}

JFXCheckBox {
    -fx-text-fill: #a0a2ab;
}

JFXButton{
    -fx-text-alignment: #FF0000;
    -fx-text-alignment: RED;
    -fx-background-color: #3C58Fa;
    -fx-text-fill: #FFFFFF;
}

.LinkButton {
    -fx-background-color: NONE;
    -fx-text-fill: #2511d7;
}

.LoginPageBackground {
    -fx-background-color: #2D3447;
}

.LoginPageTextField,.LoginPagePasswordField{
    -fx-text-fill: #fff;
}

.enterButton {
    -fx-background-color: #3C58Fa;
    -fx-text-fill: #FFF;
}

.menuButton {
    -fx-background-color: #1D5C78;
    -fx-text-fill: #FFF;
}

.Table {
    -fx-border-color: #000000
}

#menuBar{
    -fx-background-color: #832ABD;
}

#remindPasswordButton, #deleteRowButton {
    -fx-background-color: #151928;
    -fx-text-fill: #a0a2ab;

}

#pageLabel {
    -fx-text-fill: #2196f3;
}

#logonLabel {
    -fx-text-fill: #a0a2ab;
}


#blackSplitter{

}